@model List<string>

<div class="log-container">
    <h6>Real-time Logs</h6>
    <ul id="logList">
        @if (Model != null && Model.Any())
        {
            foreach (var log in Model)
            {
                <li>@log</li>
            }
        }
        else
        {
        }
    </ul>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.7/signalr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/logHub")
                .build();

            connection.on("ReceiveLogUpdate", function (message) {
                const logElement = document.createElement("li");
                const timestamp = new Date().toLocaleString();

                let combinedString = timestamp.concat(": ", message);
                logElement.textContent = combinedString;
                document.getElementById("logList").appendChild(logElement);
            });

            connection.start().catch(function (err) {
                console.error(err.toString());
            });
        });
    </script>
</div>

<style>
    .log-container {
        height: 600px; 
        border: 1px solid #008000;
        border-radius: 5px;

        background-color: darkblue;
        color: yellow; 
        overflow-y: auto; 
        font-family: 'Courier New', Courier, monospace; 
    }

    #logList {
        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
    }

        #logList li {
            margin: 2px 0; /* Space between log entries */
            padding: 5px; /* Padding for each log entry */
            border-bottom: 1px solid #444; /* Darker separator line */
        }
</style>
