@model AppointmentWebApp.Models.AdminViewModel
<body>
    <div class="container">
        <div class="logs-container">
            @await Html.PartialAsync("_PartialLogs", Model.Logs)
        </div>
        <div class="main-container">
            <div class="graph-container">
                @await Html.PartialAsync("_PartialGraph", Model.AppointmentCounts)
            </div>
            <div>
                <div class="graph-container">
                    @await Html.PartialAsync("_PartialChart", Model.TransactionCounts)
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    
    .main-container{
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
      /*   flex-direction: row; */
 /*        justify-content: space-between; */
        align-items: flex-start;
        gap: 100px;
        width: 100%;
    }

    .logs-container {
        flex: 0 0 auto;
        width: 600 px;
        max-width: 600px;
        min-width: 600px;
        overflow-x: auto;
        padding: 20px;
    }

    .graph-container {
        flex: 1 1 auto;
        min-width: 0;
    }
     body{

        width: 100%; /* Ensure it covers the full width */
    }
        
    }
</style>