@{
    ViewData["Title"] = "Access Denied";
}
<h>
    <p> Access Denied</p>
    <a class="link_color_change" href="@Url.Page("/Account/Login", new { area = "Identity" })">Log in</a>
</h>

@if (User.IsInRole("Admin"))
{
    <script>
        window.location.href = '@Url.Action("Index", "Admin")'; // Change as needed
    </script>
}