@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<h1>Landing Page</h1>

<p>If you have an account, please <a href="@Url.Page("/Account/Login", new { area = "Identity" })">log in</a> to access more features.</p>

<h4>Choose US</h4>
<h5>Helped over 1 patients</h5>
